# Ignore patterns for Prettier

# Build output
dist
build

# Dependencies
node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# pnpm lock file
pnpm-lock.yaml

# github folder
.github/
